<div *ngIf="sessionUser !== null">
  <div class="container columns" style="margin: 20px auto">
    <img class="column is-2-desktop" src="../../assets/static/img/Empty_Profile_1.png" alt="Profilbild">
    <div class="column">
      <p class="title">{{user.userName}}</p>
      <p>{{user.street}} {{user.streetNumber}}</p>
      <p>{{user.postalcode}} {{user.city}}</p>
      <p>Angebote: {{user.offers}}</p>
      <p>Gebote: {{user.requests}}</p>
    </div>
  </div>
  <div style="background-color: rgba(195,220,245,0.4); max-height: 78vh; margin: 20px">
    <div style="padding: 20px">
      <button class="button" style="margin-right: 20px" (click)="showContent('offers')">Angebote</button>
      <button class="button" style="margin-right: 20px" (click)="showContent('requests')">Gesuche</button>
      <button class="button" (click)="showContent('all')">Angebote und Gesuche</button>
    </div>

    <div style="padding: 20px; max-height: 300px; overflow: auto">
      <div *ngFor="let entry of entries">
        <div style="background-color: white; padding: 10px"
             *ngIf="entry.type === 'offer' && (output.all === 'all' || output.offers === 'offers')">
          <p class="title is-5 is-spaced is-inline">{{entry.title}}</p>
          <div class="is-pulled-right" style="display: flex; align-items: center">
            <a class="button is-small is-rounded" routerLink="entryPage/{{entry.id}}">Mehr</a>
            <a class="delete" style="margin-left: 10px" (click)="entryService.deleteEntry(entry.id)" *ngIf="sessionUser.username === user.userName"></a>
          </div>
        </div>
        <div style="background-color: rgba(0,0,0,0.08); padding: 10px"
             *ngIf="entry.type === 'request' && (output.all === 'all' || output.request === 'requests')">
          <p class="title is-5 is-spaced is-inline">{{entry.title}}</p>
          <div class="is-pulled-right" style="display: flex; align-items: center">
            <a class="button is-small is-rounded" routerLink="entryPage/{{entry.id}}">Mehr</a>
            <a class="delete" style="margin-left: 10px" (click)="entryService.deleteEntry(entry.id)" *ngIf="sessionUser.username === user.userName"></a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
