<nav class="navbar is-fixed-top-desktop" role="navigation" aria-label="main navigation"
     style="border-bottom: solid 1px #303030; margin-bottom: 30px">
  <div class="navbar-brand">
    <a class="navbar-item font-offside" style="font-size: 3rem" routerLink="/mainPage">CommUNITY</a>
    <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false"
       data-target="navbarCommunity">
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
    </a>
  </div>

  <div id="navbarCommunity" class="navbar-menu">
    <div class="navbar-end">
      <div class="navbar-item has-dropdown is-hoverable is-hidden">
        <a class="navbar-link">
          More
        </a>

        <div class="navbar-dropdown">
          <a class="navbar-item">
            About
          </a>
          <a class="navbar-item">
            Jobs
          </a>
          <a class="navbar-item">
            Contact
          </a>
          <hr class="navbar-divider">
          <a class="navbar-item">
            Report an issue
          </a>
        </div>
      </div>
    </div>

    <div class="navbar-end">
      <a class="navbar-item is-size-5-desktop is-light" routerLink="/mainPage" routerLinkActive="active">
        Home
      </a>
      <a class="navbar-item is-size-5-desktop is-light" routerLink="/aboutUs">
        Über Uns
      </a>
      <a class="navbar-item is-size-5-desktop is-light" href= "mailto:abc@example.com">
        Kontakt
      </a>
      <div class="navbar-item" style="margin-left: 60px">
        <div class="buttons" style="display: flex; justify-content: flex-end;">
          <a class="button is-info is-light is-outlined" *ngIf="sessionUser === null" routerLink="/register">
            <strong>Registrieren</strong>
          </a>
          <a class="button is-light" routerLink="/login" *ngIf="sessionUser === null">
            Login
          </a>
          <a class="button is-success is-light is-outlined" routerLink="/createEntry" *ngIf="sessionUser !== null">
            Eintrag erstellen
          </a>
          <a class="button is-outlined" routerLink="/profile/{{sessionUser.username}}" *ngIf="sessionUser !== null">
            Profil
          </a>
          <a class="button is-outlined" (click)="logout()" *ngIf="sessionUser !== null">
            Logout
          </a>
        </div>
      </div>
    </div>
  </div>
</nav>

<router-outlet></router-outlet>


