<google-map
  (idle)="getUserMarkers()"
  height="500px"
  width="100%"
  [zoom]="zoom"
  [center]="center"
  [options]="options"
>

  <map-marker
      #markerElem
    *ngFor="let marker of markers"
    [position]="marker.position"
    [label]="marker.label"
    [title]="marker.title"
    (mapClick)="openInfo(markerElem, marker.title, marker.request, marker.offer)"
 >
    <map-info-window>
      <div id="infoWindow">
        <h2>
      {{infoContent}}
        </h2>
        <p>
      Angebot: {{infoOffer.toString()}}
        </p>
        <p>
      Gesuch: {{infoRequest.toString()}}
        </p>
      </div>
    </map-info-window>
  </map-marker>

</google-map>
