.edit-button:hover {
  color: rgba(10,10,10,.3)!important;
}

pre {
  margin-bottom: 20px;
  padding-right: 80px;
  text-align: justify;
  background-color: transparent;
  font-family: inherit;
  font-size: inherit;
}

