<div style="margin-bottom: 20px">
  <button class="button" style="margin-right: 20px" (click)="showContent('offers')">Angebote</button>
  <button class="button" style="margin-right: 20px" (click)="showContent('requests')">Gesuche</button>
  <button class="button" (click)="showContent('all')">Angebote und Gesuche</button>
</div>

<div style="padding:0 20px; max-height: 78vh; overflow: auto">
  <div style="margin-bottom: 15px" *ngFor="let entry of entries">
    <div class="box is-info is-light"
         *ngIf="entry.type === 'offer' && (output.all === 'all' || output.offers === 'offers')">
      <p class="title is-5 is-spaced is-inline">{{entry.title}}</p>
      <div class="is-pulled-right columns" style="align-items: baseline"
           *ngIf="sessionUser !== null && sessionUser.username === entry.userName">
        <a class="icon" routerLink="editEntry/{{entry.id}}"><i style="color: rgba(10,10,10,.2); font-size: 1.2rem"
                                                               class="fas fa-edit edit-button"></i></a>
        <a class="delete" style="margin-left: 10px" (click)="entryService.deleteEntry(entry.id) "></a>
      </div>
      <p class="subtitle is-6" routerLink="profile/{{entry.userName}}" *ngIf="sessionUser !== null">Erstellt von <a
        style="text-decoration: underline">{{entry.userName}}</a></p>
      <p class="subtitle is-6" *ngIf="sessionUser === null">Erstellt von {{entry.userName}}</p>
      <pre style="margin-bottom: 20px; padding-right: 80px; text-align: justify">{{entry.text}}</pre>
      <a class="button is-small is-rounded" routerLink="entryPage/{{entry.id}}">Mehr</a>
    </div>
    <div class="box" style="background-color: rgba(0,0,0,0.08)"
         *ngIf="entry.type === 'request' && (output.all === 'all' || output.request === 'requests')">
      <p class="title is-5 is-spaced is-inline">{{entry.title}}</p>
      <div class="is-pulled-right columns" style="align-items: baseline"
           *ngIf="sessionUser !== null && sessionUser.username === entry.userName">
        <a class="icon" routerLink="editEntry/{{entry.id}}"><i style="color: rgba(10,10,10,.2)"
                                                               class="fas fa-edit edit-button"></i></a>
        <a class="delete" style="margin-left: 10px" (click)="entryService.deleteEntry(entry.id) "></a>
      </div>
      <p class="subtitle is-6" routerLink="profile/{{entry.userName}}" *ngIf="sessionUser !== null">Erstellt von <a
        style="text-decoration: underline">{{entry.userName}}</a></p>
      <p class="subtitle is-6" *ngIf="sessionUser === null">Erstellt von {{entry.userName}}</p>
      <pre>{{entry.text}}</pre>
      <a class="button is-small is-rounded" routerLink="entryPage/{{entry.id}}">Mehr</a>
    </div>
  </div>
</div>


