<div class="columns is-centered">
  <h2 class="title is-3" style="padding-top: 3%">Melde dich an:</h2>
</div>
<div class="columns is-centered" style="padding: 30px">
  <form class="column is-4-desktop is-6-touch has-text-centered" (ngSubmit)="login()">
<input class="input is-info is-hovered is-rounded" style="margin: 10px 0" type="text" name="Nutzername" placeholder="Nutzername" [(ngModel)]="loginData.username">
    <br>
<input class="input is-info is-hovered is-rounded" style="margin: 10px 0" type="password" name="Passwort" placeholder="Passwort" [(ngModel)]="loginData.password">
    <br>
    <button class="button is-info is-light is-rounded" style="margin: 10px 0" type="submit">Login</button>
  </form>
</div>
