<div class="columns is-centered" style="padding: 30px" *ngIf="sessionUser !== null">
  <form class="column is-4-desktop is-6-touch has-text-centered" (ngSubmit)="saveEntry()">
    <input class="input is-info is-hovered is-rounded" type="text" placeholder="Titel" name="title" [(ngModel)]="entryDTO.title">
    <textarea class="textarea has-fixed-size is-info is-hovered is-rounded" type="text" placeholder="Text" name="text"
              [(ngModel)]="entryDTO.text"></textarea>
    <div>
      <label class="container">Angebot
        <input type="radio" value="offer" title="Angebot" name="type" [(ngModel)]="entryDTO.type">
        <span class="checkmark"></span>
      </label>
      <label class="container">Gesuch
        <input type="radio" value="request" title="Gesuch" name="type" [(ngModel)]="entryDTO.type">
        <span class="checkmark"></span>
      </label>
    </div>
    <button class="button is-info is-light is-rounded" type="submit">Abschicken</button>
  </form>
</div>
