<div *ngFor="let comment of comments">
  <div style="border-top: solid 1px #303030; margin-left: 30px">
    <p class="subtitle is-6 is-inline"><strong>{{comment.userName}}</strong></p>
    <a class="delete is-pulled-right" style="margin-top: 10px" (click)="deleteComment(comment.id)" *ngIf="sessionUser !== null && sessionUser.username === comment.userName"></a>
    <p>{{comment.text}}</p>
  </div>
</div>

