<div class="columns is-centered">
  <h2 class="title is-3" style="padding-top: 3%">Über uns</h2>

</div>
<div class="columns is-centered" style="width: 60%; margin: auto">
    <div class="column" style="text-align: center">
      <img src="../../assets/static/img/Empty_Profile_1.png" alt="Profilbild">
      <h4 class="title is-4">David</h4>
      <p>Tester</p>
    </div>
    <div class="column" style="text-align: center">
      <img src="../../assets/static/img/Empty_Profile_1.png" alt="Profilbild">
      <h4 class="title is-4">Maurice</h4>
      <p>Front-End Master</p>
    </div>
    <div class="column" style="text-align: center">
      <img src="../../assets/static/img/Empty_Profile_1.png" alt="Profilbild">
      <h4 class="title is-4">Kerstin</h4>
      <p>Product Owner</p>
    </div>
    <div class="column" style="text-align: center">
      <img src="../../assets/static/img/Empty_Profile_1.png" alt="Profilbild">
      <h4 class="title is-4">Sophie</h4>
      <p>Back-End Master</p>
    </div>
  </div>

<footer class="footer" style="bottom: 0; margin-top: 5%">
  <div class="content has-text-centered">
  <p>Dieses Projekt wurde im Zuge des Awacedemy Java Winter 2019 Programmes in einer München/Hamburg Kollaboration
    gebaut.</p>
  </div>
</footer>
