/* You can add global styles to this file, and also import other style files */
.font-sirin {
  font-family: 'Sirin Stencil', cursive;
  color: #303030;
}

.font-expletus {
  font-family: 'Expletus Sans', cursive;
  color: #303030;
}

.font-offside {
  font-family: 'Offside', cursive;
  color: #303030;
}

.font-mono {
  font-family: 'Monofett', cursive;
  color: #303030;
}
