<div class="columns is-multiline is-centered">
  <div class="column is-10" style="margin: 10px 0;">
    <div class="container" style="text-align: center; margin-bottom: 2%">
      <h3 class="title is-3">Finde deine lokale Nachbarschafts-CommUNITY in München!</h3>
      <p>Registriere dich hier, lerne deine Nachbarn in der Umgebung kennen und tausche so deine
        Fähigkeiten und Angebote aus. Du kannst dabei die Angebote und Suchen der anderen Nutzer filtern. </p>
      <p>Viel Spaß in deiner Nachbarschaft!</p>
    </div>
    <div class="container">
    <app-google-map></app-google-map>
    </div>
  </div>
  <div class="column is-10" style="margin: 10px 0; background-color: rgba(195,220,245,0.4);">
    <router-outlet></router-outlet>
  </div>
</div>
