<div style="padding: 15px; margin-bottom: 40px">
  <button class="button is-danger is-light is-outlined is-inline is-pulled-right" routerLink="/mainPage">Zurück</button>
  <p class="title is-3">{{entryDTO.title}}</p>
  <p class="subtitle is-6 is-spaced">Erstellt von {{entryDTO.userName}}</p>
  <pre style="margin-bottom: 40px; text-align: justify; margin-right: 60px">{{entryDTO.text}}</pre>
  <div>
    <app-comments></app-comments>
  </div>
  <div class="is-4-desktop is-pulled-right" style="margin-top: 20px; display: flex; justify-content: flex-end" *ngIf="sessionUser !== null">
    <input class="input is-small is-rounded is-inline" style="margin-right: 10px" type="text" placeholder="Kommentar" [(ngModel)]="commentDTO.text">
    <button class="button is-rounded is-small" (click)="addComment()">Kommentieren</button>
  </div>
</div>
