<div class="columns is-centered">
<h2 class="title is-3" style="padding-top: 3%">Bitte registriere dich hier:</h2>
</div>
<div class="columns is-centered" style="padding: 30px">
  <form class="column is-4-desktop is-6-touch is-12-mobile has-text-centered">
    <input name="Nutzername" class="input is-hovered is-rounded" style="margin: 10px 0" [(ngModel)]="registerDTO.username" type="text"
           placeholder="Username">
    <input name="Passwort" class="input is-hovered is-rounded" style="margin: 10px 0" [(ngModel)]="registerDTO.password" type="password"
           placeholder="Passwort">
    <input name="Straße" class="input is-hovered is-rounded" style="margin: 10px 0" [(ngModel)]="registerDTO.street" type="text"
           placeholder="Straße">
    <input name="Hausnummer" class="input is-hovered is-rounded" style="margin: 10px 0" [(ngModel)]="registerDTO.streetNumber" type="text"
           placeholder="Nr.">
    <input name="Postleitzahl" class="input is-hovered is-rounded" style="margin: 10px 0" [(ngModel)]="registerDTO.postalcode" type="text"
           placeholder="Postleitzahl">
    <input name="Ort" class="input is-hovered is-rounded" style="margin: 10px 0" [(ngModel)]="registerDTO.city" type="text"
           placeholder="Ort">


    <!--  <p>-->
    <!--    <input [(ngModel)]="longitude" type="number" step="0.00001" placeholder="longitude">-->
    <!--  </p>-->
    <!--  <p>-->
    <!--    <input [(ngModel)]="latitude" type="number" step="0.00001" placeholder="latitude">-->
    <!--  </p>-->
    <!--  <p>-->
    <!--    <input [(ngModel)]="password2" type="password" placeholder="repeat password">-->
    <!--  </p>-->
    <button class="button is-info is-light is-rounded" style="margin: 10px 0" (click)="register()"> Registrieren</button>
  </form>
</div>
