<div class="columns is-centered">
  <h2 class="title is-3" style="padding-top: 3%">Einen neuen Eintrag erstellen:</h2>
</div>

<div class="columns is-centered" style="padding: 30px" *ngIf="sessionUser !== null">
  <form class="column is-4-desktop is-6-touch has-text-centered" (ngSubmit)="saveEntry()">
    <input class="input is-info is-hovered is-rounded" style="margin-bottom: 1%" type="text" placeholder="Titel"
           name="title"
           [(ngModel)]="entryDTO.title">
    <textarea class="textarea has-fixed-size is-info is-hovered is-rounded" style="margin-bottom: 1%" type="text" placeholder="Text" name="text"
              [(ngModel)]="entryDTO.text"></textarea>
    <div>
    <label class="container">Angebot
      <input type="radio" value="offer" style="margin-right: 1%; margin-bottom: 3%;" title="Angebot" name="type"
             [(ngModel)]="entryDTO.type">
      <span class="checkmark"></span>
    </label>
    <label class="container">Gesuch
      <input type="radio" value="request" title="Gesuch" name="type" [(ngModel)]="entryDTO.type">
      <span class="checkmark"></span>
    </label>
    </div>
    <button class="button is-info is-light is-rounded" type="submit">Abschicken</button>
  </form>
</div>

